.navbar-container {
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 1px transparent, inset 0 8px 0 #ffc000;
    border-bottom: 1px solid lightgrey;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1048px;
    margin: 0 auto;
    height: 52px;
    h1 {
        font-size: 40px;
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding-left: 25px;

    li {
        padding-right: 25px;
        font-size: 15px;
    }
}

.profile-icon {
    padding-left: 100px;
}

.search-bar {
    padding-left: 10px;
}
