.reviews-form {

    #body {
        resize: none;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        width: 77.9%;
        height: 70px;
        margin-right: 1.5%;
        font-size: 1em;
        display: inline-block;
        vertical-align: top;
        padding: 4px;

    }

    .slider-box {
        padding: 10px;
        width: 64%;

        #rating {
            width: 70%;

            ::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        #rating-display {
            display: inline-block;
            max-width: 50px;
            padding: 2px;
            margin-left: 4px;
            border-radius: 4px;
            background: rgb(80, 79, 79);
            color: #fff;
            text-align: center;
        }

    }

    .form-bottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        #location {
            width: 64%;
            height: 42px;
            padding: 8px;
            border-radius: 4px;
            background-color: #eee;
            box-sizing: border-box;
            border: none;
        }

        button {
            width: 30%;
            padding: 8px;
            background-color: #000;
            border-radius: 4px;
            color: #fff;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
        }
    }

    .placeholder {
        display: inline-block;
        background-color: #000;
        width: 78.62px;
        height: 76px;
        border-radius: 4px;
        margin-left: 4px;
        vertical-align: middle;
    }

    #word-count {
        position: absolute;
        top: 115px;
        right: 113px;
        background-color: #eee;
        padding: 2px 4px;
        font-size: .7em;
        color: #595959;
        z-index: 99;
    }

    input, textarea {
        cursor: pointer;
    }
}

