.drink-reviews {
    max-width: 690px;
    margin: 28px 0px 64px 175px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(43, 74, 94, 0.08), 0 1px 3px rgba(0, 22, 36, 16%);

    h2 {
        padding-bottom: 8px;
        font-size: 1.4em;
    }
}

.line {
    margin-bottom: 24px;
    border-bottom: 1px solid #e5e5e5;
    height: 1px;
}

.reviews-index {
    max-width: 95%;
    // height: 80px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e5e5e5;

}

.review-head {
    font-size: 1.125em;
    line-height: 1.2em;
    margin-bottom: 16px;
    display: flex;
    flex-flow: row nowrap;

    .review-title {
        padding-right: 5px;
    }

    img {
        width: 20px;
        height: 40px;
    }

    a, #location {
        color: #8a4500;
        text-decoration: none;
    }

    a:hover {
        color: #c60;
        cursor: pointer;
    }
}

.review-details {
    width: 90%;
    font-size: 1.2em;
    line-height: 1.2em;
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;

    .review-body {
        margin-bottom: 12px;
        overflow-wrap: break-word;
        line-height: 1.2em;
        font-size: 1em;
    }
}

.review-details:before {
    border-color: transparent transparent #eee!important;
    border-width: 14px!important;
    margin-left: -14px;
}

.review-details:after {
    border-color: transparent transparent #fff!important;
    border-width: 12px!important;
    margin-left: -12px;
}

.review-details:before, .review-details:after {
    border: solid transparent;
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 24px;
    height: 0;
    width: 0;
    pointer-events: none;
}
